.signupLoginBG {
  /* width: 30vh;
  height: 50vh;
  padding: 50vh; */
  margin: auto;
  width: 50%;
  /* border: 1px solid #7be256; */
  padding: 10px;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Signup blocks*/

.signupHeader {
  color: #000000;
  /* display: flex;
  justify-content: center; */
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0%;
  /* border: 1px solid #7be256; */
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  font-weight: 200;
}

.signupFormContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 30rem;
  width: 25rem;
  border: 0.1rem solid #000;
  border-radius: 0.3125rem;
  padding: 1.5rem;
}

.homePrompt {
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0%;
  /* border: 1px solid #7be256; */
  padding-left: 5%;
}

.signupInput[type="text"] {
  color: #000000;
  /* border-color: transparent; */
  /* background-color: #432874; */
  text-align: center;
  /* padding: 1.05rem 1.6rem; */
  /* height: 100rem; */
  /* width: 10rem; */
  border: 1px solid #000000;
  /* margin: 1rem;
  padding: 1rem 2rem; */
  border-radius: 0.3125rem;
  margin: 0.9rem;
  padding: 0.6rem;
}

.signupButton {
  /* background-color: #2995cd; */
  border: none;
  margin: 1rem;
  /* border: 1px solid #7be256; */
  background-color: #000000;
  color: #fff;
  border-radius: 0.4rem;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.7rem;
}

/*Login blocks*/

.loginHeader {
  /* color: #fff; */
  /* display: flex;
  justify-content: center; */
  color: #000000;
  /* display: flex;
  justify-content: center; */
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0%;
  /* border: 1px solid #7be256; */
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  font-weight: 200;
}

.loginFormContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* align-items: center; */
  height: 15rem;
  width: 25rem;
  border: 0.1rem solid #000000;
  border-radius: 0.3125rem;
  padding: 1.5rem;
}

.loginInput[type="text"] {
  color: #000000;
  border: 1px solid #000000;
  /* border-color: transparent; */
  /* background-color: #432874; */
  text-align: center;
  /* border: 1px solid #7BE256; */
  /* padding: 1.05rem 1.6rem; */
  /* height: 10rem; */
  /* margin: 1rem; */
  border-radius: 0.3125rem;
  margin: 0.9rem;
  padding: 0.6rem;
}

/* .loginButton {
  /* background-color: #2995cd; */
/* color: #fff; */
/* border: none;
  margin: 1rem;
  border: 1px solid #7be256;
  background-color: #fff;
  color: #7be256;
  border-radius: 0.3125rem; */

/* background-color: #2995cd; */
/* border: none;
  margin: 1rem; */
/* border: 1px solid #7be256; */
/* background-color: #000000;
  color: #fff;
  border-radius: 0.4rem;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.7rem; */
/* }  */

/* Homepage */

.welcomeBG {
  height: 100vh;
}

.welcomeText {
  color: #000;
  padding-left: 0.5%;
  font-size: 2.5rem;
  /* border: 1px solid #000; */
}

.welcomeUserWrapper {
  display: flex;
  justify-content: center;
  /* border: 1px solid #000; */
  padding-top: 13%;
  font-size: 1.9rem;
  font-weight: bold;
}
.welcomeLinksWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  padding: 10% 20% 0% 20%;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* border: 1px solid #000; */
  font-size: 1.1rem;
}

.logout-button-wrapper {
  padding: 0% 0% 0% 96%;
}

.avatar-wrapper-home {
  /* display: flex; */
  border: 2px solid yellowgreen;
  padding: 1% 2% 1% 2%;
  border-radius: 50%;
  margin: -0.9% 0.2%;
}
